@{
    Layout = null;
}

<style>
    body {
        padding-top: 80px;
    }

    .green-text {
        color: lightgreen;
    }

    .big-text {
        font-size: large;
    }
</style>

<div id="navbar-notification" class="green-text big-text"><label>@TempData["Notification"]</label></div>
